// Raleway Font Import From Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
// Preload Background Image Slider and Social Media Hover Icons
body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../images/berline.jpg)
    url(../images/4x4.jpg)
    url(../images/camion-chantier.jpg)
    url(../images/moto.jpg)
    url(../images/utilitaire.jpg)
    url(../icons/facebook-hover.svg)
    url(../icons/twitter-hover.svg);
}
//color pallete: white/yellow = #F8F4D9; black = #242424; white = #FFFFFF; yellow = #CAA900;
body {
    background: #FFFFFF;
    margin: 0;
    font-family: "Raleway",sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #242424;
    padding: 1em 2em;
    .logo {
        text-decoration: none;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 2em;
        span {
            color: #CAA900;
        }
    }
    nav.mobile-menu-open {
        display: block;
    }
    nav.desktop-navigation {
        display: none;
    }
    nav.mobile-navigation {
        position: fixed;
        z-index: 1;
        right: 0;
        top: 0;
        background: #242424;
        display: block;
        height: 100vh;
        width: 100%;
        transition: 0.5s;
        transform: translateY(-400%);
        a {
            margin-left: 1em;
        }
        ul {
            margin-top: 6em;  
        }
        li {
            a {
                color: #FFFFFF;
                text-decoration: none;
                display: block;
                padding: 1em 0 1em 0;
                font-size: 2em;
                text-align: center;
            }  
        }
        li.current a {
            color: #CAA900;
            font-weight: bold;
        }
    }
    .mobile-menu-close {
        float: right;
        margin: 1.5em 2.3em;
        cursor: pointer;
    }
    .container {
        display: flex;
        place-content: space-between;
    }
}

.mobile-menu-open {
    cursor: pointer;
}

#menu-open-scroll {
    padding: 1em;
    position: fixed;
    right: 3%;
    border-radius: 5px;
    top: 1%;
    background: #242424;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section {
    padding: 3em 2em;
}

.left-col {
    padding-left: 2em;
    h1 {
        font-size: 2.5em;
        margin-bottom: 0;
    }
}
    .yellow-button {
        background: #CAA900;
        color: #FFFFFF;
        border: 2px solid #CAA900;
        text-decoration: none;
        padding: 0.6em 1.3em;
        font-size: 1.4em;
        border-radius: 0.2em;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 2em;
        cursor: pointer;
    }

.hero {
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    width: 100%;
    height: 90vh;
    animation: slide 10s infinite;  
    .container {
        position: absolute;
        top: 50%;
        bottom: 50%;
    }
}
// Hero Section Image Slider Animation Without Zoom-in effect for Mobile
@keyframes slide {
    0%{
        background: rgba(0,0,0,0.5) url(../images/berline.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
        width: 100%;
        height: 90vh;
        overflow-x: hidden;
    }
    20%{
        background: rgba(0,0,0,0.5) url(../images/berline.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
        width: 100%;
        height: 90vh;
        overflow-x: hidden;
    }
    20.01%{
        background: rgba(0,0,0,0.5) url(../images/4x4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
        width: 100%;
        height: 90vh;
        overflow-x: hidden;
    }
    40%{
        background: rgba(0,0,0,0.5) url(../images/4x4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
        width: 100%;;;
        height: 90vh;
        overflow-x: hidden;
    }
    40.01%{
        background: rgba(0,0,0,0.5) url(../images/camion-chantier.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
        width: 100%;
        height: 90vh;
        overflow-x: hidden;
    }
    60%{
        background: rgba(0,0,0,0.5) url(../images/camion-chantier.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
        width: 100%;
        height: 90vh;
        overflow-x: hidden;
    }
    60.01%{
        background: rgba(0,0,0,0.5) url(../images/moto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
        width: 100%;
        height: 90vh;
        overflow-x: hidden;
    }
    80%{
        background: rgba(0,0,0,0.5) url(../images/moto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
        width: 100%;
        height: 90vh;
        overflow-x: hidden;
    }
    80.01%{
        background: rgba(0,0,0,0.5) url(../images/utilitaire.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
        width: 100%;
        height: 90vh;
        overflow-x: hidden;
    }
    100%{
        background: rgba(0,0,0,0.5) url(../images/utilitaire.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
        width: 100%;
        height: 90vh;
        overflow-x: hidden;
    }
}

.features {
    background: #242424;
    color: #FFFFFF;
}

.features .container {
    display: flex;
    .features-list {
        flex: 75%;
    }
    .rent-illus {
        display: none;
        flex: 25%;
        img {
            width: 177px;
            height: 177px;
        }    
    }
}

ul.features-list {
    margin: 0;
    padding-left: 0.1em;
    li {
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;
        // checkmark icon on the left of each paragraph
        &:before {
            content: '';
            left: -2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url(../icons/checkmark.svg);
            background-size: contain;
            margin-right: 0.5em;
        }
    }
}

.gallery {
    background: #F8F4D9;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    .view-button {
        padding-top: 1.8em;
        text-align: center;
    }
    .featured {
        color: #242424;
        padding-top: 1.5em;
        margin-top: 0;
        margin-bottom: 1.5em;
        text-align: center;
    }
}

.vehicles {
    background: #F8F4D9;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    .car-card {
        background: #FFFFFF;
        color: #242424;
        border-radius: 0.5em;
        border: 3px solid #CAA900;
        margin: 0 auto 3em auto;
        width: 350px;
        height: 453.57px;
        img {
            border-radius: 0.5em;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.car-title {
    text-align: center;
    font-size: 1.7em;
}
.car-price {
    text-align: center;
    font-size: 1.1em;
    span {
        color: #CAA900;
        font-weight: bold;
    }
}

ul.car-specs {
    margin-left: 2em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    font-size: 0.8em;
    li.car-specs-fuel {
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;
        span {
            color: #CAA900;
            font-weight: bold;
        }
        // fuel icon before fuel type
        &:before {
            content: '';
            left: -2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url(../icons/fuel.svg);
            background-size: contain;
            margin-right: 0.5em;
            top: -0.2em;
        }
    }
    li.car-specs-transmission {
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;
        span {
            color: #CAA900;
            font-weight: bold;
        }
        // transmission icon before transmission type
        &:before {
            content: '';
            left: -2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url(../icons/transmission.svg);
            background-size: contain;
            margin-right: 0.5em;
            top: -0.2em;
        }
    }
}

h2 {
    font-size: 2em;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

input, textarea {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border-radius: 0.3em;
    border: 1px solid gray;
    box-sizing: border-box;
    outline: none;
}

button {
    outline: none;
}

select {
        width: 100%;
        padding: 0.8em;
        margin-bottom: 1em;
        border-radius: 0.3em;
        border: 1px solid gray;
        box-sizing: border-box;
        font-size: 1em;
        outline: none;
}

#days {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

#rentPrice {
    color: #CAA900;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    border: 3px solid #CAA900;
}

#rentPrice {
    display: inline-block;
}

//contact overlay confirmation
.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    overflow: scroll;
}
.overlay-content {
    background-color: #FFFFFF;
    margin: auto;
    padding: 30px;
    font-size: 1em;
    border: 5px solid #CAA900;
    border-radius: 0.5em;
    width: 80%;
    font-size: 1em;
    text-align: center;
    span {
        font-weight: bold;
    }
}
#overlay-close {
    float: right;
    cursor: pointer;
}
.form-button {
    text-align: center;
}
#message {
    margin-bottom: 2em;
}
#confirm-button {
    margin-top: 1em;
    margin-bottom: 1em;
}
.footer {
    height: auto;
    background: #242424;
    width: 100%;
    padding: 0;
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 50% 25% 10%;
        grid-template-areas:
        'logo logo'
        'left middle'
        'right right'
        'cr cr';
        .footer-left {
            grid-area: left;
            font-size: 1.2em;
        }
        .footer-middle {
            grid-area: middle;
            font-size: 1.2em;
        }
        .footer-right {
            grid-area: right;
            color: #9c9c9c;
            font-weight: bold;
            text-align: center;
            p {
            font-size: 0.8em;
            }
        }
        .copyright {
            grid-area: cr;
            text-align: center;
            font-size: 1em;
            color: #9c9c9c;
            p {
                margin-top: 0.5em;
                font-size: 0.8em;
            }
            span a {
                color: #CAA900;
                text-decoration: none;
                text-decoration-line: underline;
            }
        }
        .logo {
            grid-area: logo;
            padding-top: 0.5em;
            text-decoration: none;
            font-weight: bold;
            color: #FFFFFF;
            font-size: 2em;
            span {
                color: #CAA900;
            }
        }
        a {
            margin-left: 1em;
        }
        ul {
            margin-top: 1em;
            margin-left: 1em;
        }
        li {
            a {
                color: #FFFFFF;
                text-decoration: none;
                display: block;
                padding-bottom: 1em;
                font-size: 1em;
                text-align: left;
            }  
        }
        li.current a {
            color: #CAA900;
            font-weight: bold;
        }
    }
}
// media query for desktop version
@media only screen and (min-width: 1025px) {

    .mobile-menu-open, .mobile-menu-close {
        display: none;
    }
    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
    }
    .navbar {
        .logo {
            span {
                transition: 0.5s;
                color: #FFFFFF;
            }
        }
        .logo:hover {
            span {
                color: #CAA900;
                transition: 0.5s;
            }
        }
    }
    .navbar nav.desktop-navigation {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        background: #242424;
        display: block;
        width: 100%;
        padding: 0;
        ul {
            display: flex;
            margin-top: 0;
        }
        li.current a {
            color: #CAA900;
            font-weight: bold;
        }
        li {
            margin: 0 1em 0 1em;
            a {
                font-size: 1.3em;
                padding: 0.5em;
                color: #FFFFFF;
                text-decoration: none;
                display: block;
                text-align: center;
                transition: 0.5s;
            }
            a:hover {
                color: #CAA900;
                transition: 0.5s;
            }
        }
        li.fb-icon {
            margin: 0.2em 0 0 2em;
            a {
                padding: 0.5em 0 0 0;
                background-color: #242424;
                background-image: url(../icons/facebook.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                height: 25px;
                width: 25px;
                transition: none;
            }
            a:hover {
                background-image: url(../icons/facebook-hover.svg);
                transition: none;
            }
        }
        li.tweet-icon {
            margin: 0.2em 0 0 2em;
            a {
                padding: 0.5em 0 0 0;
                background-color: #242424;
                background-image: url(../icons/twitter.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                height: 25px;
                width: 25px;
                transition: none;
            }
            a:hover {
                background-image: url(../icons/twitter-hover.svg);
                transition: none;
            }
        }
    }
    .yellow-button {
        background: none;
        color: #CAA900;
        transition: 0.5s;
    }
    .yellow-button:hover {
        background: #CAA900;
        color: #FFFFFF;
        transition: 0.5s;
    }
    .vehicles {
        flex-direction: row;
    }
    .form-button {
        text-align: left;
    }
    .footer {
        .container {
            display: grid;
            grid-template-columns: 33.33% 33.33% 33.33%;
            grid-template-rows: 20% 65% 15%;
            grid-template-areas:
            'logo logo logo'
            'left middle right'
            'cr cr cr';
            .footer-left {
                font-size: 1em;
            }
            .footer-middle {
                font-size: 1em;
            }
            .footer-right {
                text-align: left;
                font-size: 1.1em;
                padding-right: 2em;
                p {
                    padding-top: 0.2em;
                }
            }
            .copyright {
                font-size: 1.1em;
                span a {
                    text-decoration: none;
                }
                span a:hover {
                    text-decoration-line: underline;
                }
            }
            .logo {
                span {
                    transition: 0.5s;
                    color: #FFFFFF;
                    
                }
            }
            .logo:hover {
                span {
                    color: #CAA900;
                    transition: 0.5s;
                }
            }
            li {
                a:hover {
                    color: #CAA900;
                    transition: 0.5s;
                }
            }  
        }
    }
    .features .container {
        .rent-illus {
            display: block;
        }
    }
    .hero {
        width: 120%;
    }
    // Hero Section Image Slider Animation With Zoom In effect for Desktop
    @keyframes slide {
        0%{
            background: rgba(0,0,0,0.5) url(../images/berline.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-blend-mode: darken;
            width: 120%;
            height: 90vh;
            overflow-x: hidden;
        }
        20%{
            background: rgba(0,0,0,0.5) url(../images/berline.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-blend-mode: darken;
            width: 100%;
            height: 90vh;
            overflow-x: hidden;
        }
        20.01%{
            background: rgba(0,0,0,0.5) url(../images/4x4.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-blend-mode: darken;
            width: 120%;
            height: 90vh;
            overflow-x: hidden;
        }
        40%{
            background: rgba(0,0,0,0.5) url(../images/4x4.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-blend-mode: darken;
            width: 100%;;;
            height: 90vh;
            overflow-x: hidden;
        }
        40.01%{
            background: rgba(0,0,0,0.5) url(../images/camion-chantier.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-blend-mode: darken;
            width: 120%;
            height: 90vh;
            overflow-x: hidden;
        }
        60%{
            background: rgba(0,0,0,0.5) url(../images/camion-chantier.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-blend-mode: darken;
            width: 100%;
            height: 90vh;
            overflow-x: hidden;
        }
        60.01%{
            background: rgba(0,0,0,0.5) url(../images/moto.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-blend-mode: darken;
            width: 120%;
            height: 90vh;
            overflow-x: hidden;
        }
        80%{
            background: rgba(0,0,0,0.5) url(../images/moto.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-blend-mode: darken;
            width: 100%;
            height: 90vh;
            overflow-x: hidden;
        }
        80.01%{
            background: rgba(0,0,0,0.5) url(../images/utilitaire.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-blend-mode: darken;
            width: 120%;
            height: 90vh;
            overflow-x: hidden;
        }
        100%{
            background: rgba(0,0,0,0.5) url(../images/utilitaire.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-blend-mode: darken;
            width: 100%;
            height: 90vh;
            overflow-x: hidden;
        }
        
    }

}